.mg-r8{margin-right: 8px;}
hr {border: 1px solid #e9e9e9;}

.content-arrow {
  margin-bottom: 16px;
}
.content-agenda .content-arrow {
  display: flex;
}
.content-agenda .content-arrow .icon-arrow{
  width: 11px;
}

.content-agenda .content-arrow .btn-arrow {
  padding: 4px 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.content-agenda .title {
  font-size: 24px;
  margin: 0;
  padding: 0;
}
.agenda-post .content-inside {
  margin: 0 0 0 32px;
  padding: 24px 0;
}
.content-agenda .subtitle{
  font-size: 28px;
}
.agenda-post .content-inside .title a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}
.agenda-post .content-inside .local {
  font-size: 15px;
}